<html>

<head>
   <link rel="stylesheet" href="/static/sfeaters.css" />
   <title>SFeaters</title>
</head>

<body>
   <img src="https://lh3.googleusercontent.com/proxy/tSTN40kR6Awu5LMtGiLB5wi20DEYhhU5NDQ-_nI8iH94-FujdNKs1KKfIXcgcl59I6S3gLxgG5TOYygrq9X_wot0N5bLXtC1KcUmwjAWEQUaSkFYd72dlkP6_415U99iEH1aBnsxKbj6RuiIG9AII8w-G42aAT4=w100-h134-n-k-no" />

   <h1>SFeaters - Avoid Risky Restaurants</h1>

   <div id="controls">
       <div>
           <label>Restaurant Name</label>
           <input id="rname" type="text" value="mcdonald's" />
       </div>
       <div>
           <button id="inference">Predict Risk</button>
       </div>

       <div >
           <textarea id="risk_output" type="text" size="80" cols="80" rows="15"></textarea>
       </div>

   </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.35.2/plotly.min.js"></script>
   <script src="/static/sfeaters.js"></script>
</body>
    


</html>
